<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        integrity="sha384-8gBf6Y4YYq7Jx97PIqmTwLPin4hxIzQw5aDmUg/DDhul9fFpbbLcLh3nTIIDJKhx"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    if (!!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/)) {
        $(window).scroll(function() {
            if ($(window).scrollTop() >= 306) {
                $('#toc').addClass('fixed');
            } else {
                $('#toc').removeClass('fixed');
            }
        });
    }
</script>
