// Put site-specific rules here

html {
  font-size: 18px;
}

h2.section {
  margin-top: 5rem;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  #toc.fixed {
    position: fixed;
    top: 5px;
  }

  h2 small.subtitle {
    display: block;
  }
}

abbr[title] {
  border-bottom: 0;
  cursor: default;
}

table.table {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-secondary;
}

#content-container {
  border-right: 1px solid $gray-lighter;
}

#sidebar, #toc {
  max-width: 285px;
}
