<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}

      <div class="row">
        <div class="col-md-3 col-md-push-9" id="sidebar">
          {% capture toc %}{% include toc.md %}{% endcapture %}
          {{ toc | markdownify }}
        </div>
        <div class="col-md-9 col-md-pull-3" id="content-container">
          <h2 id="top">
            A CGI application vulnerability <small class="text-muted">(in 2016)</small>
            <small class="text-muted subtitle">for PHP, Go, Python and&nbsp;others</small>
          </h2>

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
